@page "/"

<h1>KHUx Raid Hub</h1>

Welcome! I will be writing up an FAQ soon, but for now, please follow this link to add the bot to your server and then go to Raid Dashboard:
<a href="https://discord.com/api/oauth2/authorize?client_id=711913856498139167&permissions=134208&scope=bot" target="_blank">KHUx Discord Raid Coordinator</a>