@inherits LayoutComponentBase

<div class="sidebar">
        <CascadingValue Value="@RaidManagerParent" Name="RaidManagerParent">
            <NavMenu />
        </CascadingValue>
    </div>

    <div class="main">
        <div class="top-row px-4">
            @* Todo - put in my own About page *@
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        </div>

        <div class="content px-4">
            <CascadingValue Value="@RaidManagerParent" Name="RaidManagerParent">
                @Body
            </CascadingValue>
        </div>
    </div>

@functions
{
    public RaidManager RaidManagerParent;

    protected override async Task OnInitializedAsync()
    {
        // Does this override the channels we create when creating the Channel-Managers in RaidCoordinatorService?
        this.RaidManagerParent = new RaidManager();
    }
}
